body {
    font-family: Nexalight;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eddbca;
}

body>header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4em;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    background-size: 100%;
}

textarea {
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 10em;
    text-align: center;
    margin-top: 4em;
}

a {
    text-decoration: none;
}

button {
    height: 2em;
    border-radius: 3em;
    background-color: #ff3268;
    font-family: Nexabold;
    color: white;
    font-size: 1em;
    box-shadow: inset 0 -0.1875em 0.0625em #ca2b55;
    display: block;
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
}

.imgg {
    opacity: 0;
}

.download {
    width: 3.5em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    opacity: 1;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
}

li>a>img {
    width: 2.6em;
}

li>a>p {
    font-size: 0;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

nav {
    float: none;
    display: block;
    width: 100%;
    margin-right: 1em;
}

li {
    margin: 0.3em;
    list-style: none;
}

li a {
    color: #4ab967;
    margin-bottom: 1em;
    text-decoration: none;
}

footer {
    margin-top: -5em;
    background-color: #eddbca;
    padding: 1em;
}

h1 {
    font-family: Nexabold;
    color: white;
    font-size: 1.7em;
    text-align: center;
    text-shadow: 0.2em 0.2em 0.5em #000000;
    margin-top: -0.6em;
}

main>a >article {
    color: #606060;
    height: 16em;
}

main>article>footer>a {
    color: #606060;
    margin-left: 1em;
}

article>p {
    margin-left: 3em;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
}

p {
    margin: 1em;
    width: 70%;
    font-size: 0.8em;
}

main>section {
    margin-left: auto;
    margin-right: auto;
}

section>button>p {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

label {
    position: relative;
    width: 4em;
    height: 2em;
    margin-left: 2em;
}

label input {
    display: none;
}

label {
    position: relative;
    display: inline-block;
    width: 3.8em;
    height: 2.1em;
}

label input {
    display: none;
}

main>a> article {
    border-radius: 1em;
    color: #606060;
    background-color: #fbf7f4;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 20em;
    margin-bottom: 1em;
    margin-top: 1em;
}

article> header> h2 {
    font-family: Nexabold;
    color: white;
    margin: 1em;
    text-align: center;
    width: 10em;
}

main> h2 {
    color: #362f90;
    font-family: Nexabold;
    margin-bottom: 1em;
    text-align: center;
}

h2+p {
    position: absolute;
    top: 9.5em;
    margin-left: 30%;
}

main>a>article>header {
    width: 100%;
    height: 4em;
    display: flex;
    overflow-x: scroll;
}

main>a>article:nth-child(1)>header {
    background-image: url('paranoia.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    border-radius: 1em 1em 0em 0em;
}

header>a>img {
    max-width: 11em;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
    margin-left: 1em;
}

a:hover {
    color: #ee3968;
}

@media (min-width: 40em) {
    main> a>article {
        width: 35em;
        height: 10em;
    }
    label {
        margin-left: 3em;
    }
    .download {
        width: 3.5em;
        float: right;
        margin-right: 3em;
        margin-top: -4.5em;
        opacity: 1;
    }
}

@media (min-width: 75em) {
    main> a>article {
        width: 45em;
        height: 10em;
    }
    .download {
        width: 3.5em;
        float: right;
        margin-right: 5em;
        margin-top: -3.5em;
        opacity: 1;
    }
}
