body {
    font-family: Nexalight;
    width: 100%;
    margin: 0;
    padding: 0;
}

body>header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5em;
    background-color: white;
}

section+section>h2 {
    color: #362f90;
    font-family: Nexabold;
    margin-top: 0.4em;
    margin-bottom: -0.2em;
    text-align: center;
}

section>h2 {
    color: #362f90;
    font-family: Nexabold;
    text-align: center;
}

li>a>img {
    width: 2.6em;
}

li>a>p {
    font-size: 0;
}

section>a:nth-child(6) {
    background-color: #eddbca;
    border: none;
}

input {
    display: none;
}

label {
    cursor: pointer;
}

main+section>nav {
    display: none;
}

input:checked + nav {
    display: block;
}

section>nav {
    display: none;
    margin: 1.5em;
}

section>nav>a {}

nav>a {
    background-color: #fbf7f4;
    border-color: #fbf7f4;
    border-radius: 1.2em;
    border-width: 0.1em;
    border-style: solid;
    padding: .4em;
}

section>a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

section>a:target {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
}

section>a {
    background-color: #fbf7f4;
    border-color: #fbf7f4;
    border-radius: 1.2em;
    border-width: 0.1em;
    border-style: solid;
    padding: .4em;
}

header ul {
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 0.3em;
    list-style: none;
}

li a {
    color: #4ab967;
    margin-bottom: 1em;
    text-decoration: none;
}

article>header {
    background-image: url('gevangen.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    border-radius: 1em 1em 0em 0em;
    width: 100%;
    height: 4em;
    display: flex;
    overflow-x: scroll;
}

header+section {
    background-image: url('books.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    padding: 1em;
    height: 6em;
}

h1 {
    font-family: Nexabold;
    color: white;
    font-size: 2em;
    text-align: center
}

article {
    margin: 1em;
    color: #606060;
}

article>p {
    margin: 1em;
}

main {
    display: flex;
    overflow-x: scroll;
}

main>article {
    height: 17em;
    justify-content: center;
    border-color: #bcbbbb;
    border-radius: 1.2em;
    border-width: 0.1em;
    border-style: solid;
    margin-left: 2.5em;
}

section> article {
    margin: 1.8em;
    border-radius: 1em;
    color: #606060;
    background-color: #fbf7f4;
    width: 19em;
    justify-content: center;
    height: 17em
}

article>header>h2 {
    font-family: Nexabold;
    src: url('../FED/fonts/Nexa%20Bold.otf')format('truetype') src: url('../FED/fonts/Nexa%20Light.otf') format('truetype');
    color: #4ab967;
    margin: 1em;
    text-align: center;
    width: 10em;
}

section > article > h2 {
    color: #362f90;
}

header>a>img {
    max-width: 8em;
    height: auto;
    width: auto;
}

article a {
    text-decoration: none;
    color: #606060;
    margin: 1em
}

article a:hover {
    color: #ee3968;
}

footer,
a,
h4 {
    text-decoration: none;
    color: black;
    text-align: center;
    color: #362f90;
}

a:hover {
    color: #ee3968;
}

main+section {
    background-color: #eddbca;
    padding: 1em;
}

@media (min-width:30em) {
    body {
        background-color: green;
    }
    li>a>p {
        font-size: 1em;
    }
}

@media (min-width:50em) {
    body {
        background-color: gold;
    }
    li>a>p {
        font-size: 1em;
    }
}
